.posts {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  height: 100vh;
  margin-bottom: 100px;

  width: 100%;
  margin-top: 20px;
  /* background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); */
}

.new-postcard {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.filter-posts {
  width: 60%;
  margin-right: 20px;
}

.post-wrapper {
  background-color: rgb(88, 88, 88);
  gap: 8px;
  padding: 20px;
  border-radius: 1em;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.postcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  margin-top: 20px;
}
.postcard__header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5px;
}
.postcard__image {
  max-width: 100%;
  display: flex;
  object-fit: cover;
}

.postcard {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 42rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  margin-bottom: 20px;
}

.postcard__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}
.tag-pink {
  background: cb2db6;
  background: linear-gradient(to bottom, #e93aef, #cb2db6);
  color: #fafafa;
}
.tag-green {
  background: #3acb2d;
  background: linear-gradient(to bottom, #1e6117, #3acb2d);
  color: #fafafa;
}
.postcard__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.postcard__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.postcard__user {
  display: flex;
  gap: 0.5rem;
}

.postcard__image {
  border-radius: 50%;
}

.postcard__info > small {
  color: #666;
}
.spacer-div {
  height: 100px;
  width: 100%;
}
@media only screen and (max-width: 1300px) {
  .new-postcard {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .filter-posts {
    width: 95%;
    margin: 20px;
  }
}
.btn {
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 5px 5px; /* Some padding */
  font-size: 0.75rem; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 1em;
  margin-right: 5px;
}
.delete-btn:hover {
  background-color: RoyalBlue;
}
